html{
    font-family: kanit;
}

.font1{
    font-size: 25px;
}

h1{
    font-size: 40px;
    color: rgb(11, 11, 62);
    margin-left: 640px;
    margin-top: 165px;
}

.container{
    margin-left: 537px;
    font-size: 25px;
    border: 5px black;
}

.box1{
    width: 250px;
    height: 25px;
}

.box2{
    font-size: 20px;
    width: 112px;
    height: 45px;
    background-color: lightgreen;
    border: lightgreen;
    border-radius: 10px;
}